[submodule "parquet-testing"]
	path = parquet-testing
	url = http://git.analysysdata.com/noah/parquet-testing.git
[submodule "testing"]
	path = testing
	url = http://git.analysysdata.com/noah/arrow-testing.git
